<%- include('../partials/header') %>
<h4>List of all Cocktails</h4>
<table>
    <thead>
        <tr>
            <th>COCKTAIL</th>
            <th>INFO</th>
            <th>CREATED BY</th>
        </tr>
    </thead>
    <tbody>
        <% cocktails.forEach((c) => { %>
        <tr>
            <td><%= c.name %></td>
            <td><a href="/cocktails/<%= c._id %>">RECIPE</a></td>
            <td><%=c.userName%></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<%- include('../partials/footer') %>