<%- include('../partials/header') %>
<section id="show-page">
    <% if(cocktail.photo === '') { %>
    <img src="/images/image-placeholder.png" class="img-circle" width="300">
    <% } else { %>
    <img src="<%= cocktail.photo %>" class="img-circle" width="300">
    <% } %>
    <div><strong>Cocktail Name:</strong><br>
         <%= cocktail.name %></div>
    <div><strong> Proper Glass: </strong><br>
        <%= cocktail.glassType %></div>
    <div><strong>Ingredients:</strong><br>
        <% for(let c = 0; c < cocktail.ingredients.length; c++) { %>
        <%=cocktail.ingredients[c]%> - <%=cocktail.measurements[c]%> <br>
        <% }; %>
    </div>
    <div><strong>Instructions:</strong><br>
         <%= cocktail.instructions %></div>
    <div><strong>Comments:</strong><br>
         <% cocktail.comments.forEach((c) => { %>
        <%=c.text%> - <%=c.userName%>
        <br>
        <% }); %></div>
    <form action="/cocktails/<%= cocktail._id %>/comments" method="POST">
        <input type="text" name="text">
        <button type="submit">ADD COMMENT</button>
    </form>
</section>
<%- include('../partials/footer') %>